.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
  font-size: 16px;
}
.nav-connect {
  padding: 15px 25px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #8923e1 102.06%);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.nav-connect:hover {
  transform: scale(1.05);
}
